header {
  margin-bottom: 0px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: #ddd;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
    
  nav {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      display: flex;
    }
  }

  a {
    display: block;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;

    &:hover {
      background-color: #ddd;
      color: black;
    }
  }
}